*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.title__heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.btn--download {
  margin: 5% 3% 5% 0;
}

.title__image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width: 991px) {
  #title {
    text-align: center;
  }

  .title__image {
    position: static;
    transform: rotate(0);
  }
}


/* FEATURES */

#features {
  padding-top: 7%;
  padding-bottom: 7%;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
}

.feature {
  text-align: center;
  padding: 5%;
}

.feature__icon {
  font-size: 5rem;
  color: #ef8172;
}

.feature__icon:hover {
  color: #ff4c68;
}

.feature__heading {
  font-weight: 700;
  margin-top: 5%;
  margin-bottom: 5%;
}

.feature__description {
  color: #8f8f8f;
}


/* Testiminial */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonials__heading {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonials__image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}


/* Press */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press__logo {
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing__column {
  padding: 3% 2%;
}
